:root {
	--primary: #14A085;
    --button: #4FBA6F;
    --overlay: rgba(34, 34, 34, 0.31);
    --font: 'Barlow', sans-serif;
}

body { 
    font-family: var(--font);
    display: flex;
}


nav {
    width: 200px;
}

main {
    flex-grow: 2;
}

main {
    width: 75vw;
}
main img, button, p {
    width: 75%;
    justify-content: center;
}

button {
    background: var(--button);
    height: 50px;
    color: white;
    border-radius: 12px;
    border-style: none;
    font-weight: 700;
    font-size: 20px;
}

aside {
    width: 300px;
    flex-grow: 2;
}

aside img {
    width: 60px;
}